@model PaginatedList<_1263087.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h3 class="text-center text-uppercase">Department Information</h3>

<p>
    <a asp-action="Create" class="btn btn-primary ">Add Department</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search By Name : <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-outline-dark" />
        </p>
    </div>
</form>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Department Name</a>
            </th>
            <th>Available Seat</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DepartmentName</td>
                <td>@item.AvailableSeate</td>
                <td>@item.IsActive</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.DepartmentID" class="btn btn-sm btn-info rounded-0">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.DepartmentID" class="btn btn-sm btn-danger rounded-0">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous Page
</a>

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next Page
</a>

<p style="text-align:right">
    <a asp-action="Index">Back To List</a>
</p>